body {
  text-align: center;
}

.container {
  width: 85%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 95vh;
}

/* ChessBoard */
.tile {
  margin: 0px;
  width: 5em;
  height: 5em;
}

.tile.black {
  background-color: maroon;
}

.tile.white {
  background-color: white;
}

.tile.selected {
  background-color: darkgreen;
}

.chessboard {
  background-color: burlywood;
  border-spacing: 0px;
}

th.label {
  padding: .5em;
}

th.label.X {
  height: 1em;
}

th.label.Y {
  width: 1em;
}

img.figure {
  width: 100%;
  height: 100%;
  background-position: center;
}

/* ----- */

div.block {

}